.articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 100%;

    &__article {
        margin: 0.5rem 0;
        padding: 0.4rem 0;
        background: $primaryLight;
    }

    &__picture img {
        float: left;
        max-width: 33.33%;
        margin: 0.7rem;
    }

    &__content {
        padding: 0 1rem;
        min-height: 9rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;

    }
    &__date {
        margin-right: 0.4rem
    }

    &__buttons {
        margin-right: 1rem;

        display: flex;
        justify-content: flex-end;
    }
}