/* colors */
/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=616161 */

$primary: #606060;
$primaryText: #ffffff;

$primaryLight: #8d8d8d;
$primaryLightText: #000000;

$primaryDark: #363636;
$primarySecondaryTexy: #ffffff;

$siteWidth: 102rem; //1020px